@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700;900&family=Noto+Sans+Adlam:wght@400;500;600;700&display=swap');
/* Paleta de colores */
$colorWhite:#fefefe;
$colorPrincipal:#ff6200;
$fontHeaders: "Bentham", serif;
$fontCommon: "Playfair Display", serif;